# Python
*.py[cod]
*.pyc
*$py.class
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/static_root

# Entorno virtual
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Variables de entorno
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/
