services:
  postgres:
    image: postgres:16
    container_name: hotel-postgres
    environment:
      POSTGRES_DB: hotel_intranet
      POSTGRES_USER: hotel_admin
      POSTGRES_PASSWORD: hotel_secure_2026
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: hotel-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@hotel.local
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
