{% extends 'layout.html' %}

{% block title %}Actualizar departamento{% endblock %}


{% block content %}
    <h1>ACTUALIZAR DEPARTAMENTO</h2>
    <ul>
        <section>
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update">
                <a href="{% url 'department:list' %}">Cancelar</a>
            </form>
        </section>
    </ul>
    <a href="{% url 'department:create' %}">Volver al listado de departamentos</a>
{% endblock %}
